@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Oswald", ui-sans-serif, system-ui, sans-serif;
  --color-brand-red: #E3000F;
  --color-brand-gold: #C89B3C;
  --color-brand-navy: #00205B;
}

body {
  background-color: #09090b;
  color: #fafafa;
}
